<style id="newList" type="text/css">
	<div class="panel panel-default">
    <div class="panel-heading">
    	新闻列表
    	<a href="#/newAdd" class="glyphicon glyphicon-plus pull-right">新增</a>
    </div>
	    <table class="table">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>新闻标题</th>
	          <th>内容</th>
	          <th>发布时间</th>
	          <th>作者</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% newss.forEach(function(news){ %>
	      		<tr>
		          <td><%=news.nid %></td>
		          <td><%=news.ntitle %></td>
		          <td><%=news.content %></td>
		          <td><%=news.pubtime %></td>
		          <td><%=news.aname %></td>
		          <td>	        
		          	<a href="#/newDel/<%= news.nid %>">删除</a>     
		          </td>
		        </tr>
	      	<% }) %>
	      </tbody>
	    </table>
  </div>
</style>